@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise&family=Archivo+Black');

.contains{
    min-height: 100vh;
    min-width: 100vh;   
    background:linear-gradient(rgba(5, 7, 12, 0.198), rgba(5, 7, 12, 0.65)), url(../../assets/images/BackHome.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-self: center;
    line-height: 2;
    overflow-wrap:normal;
    text-align: center;
    font-family: 'Archivo Black';
    color:#000;
}
  
.margen {
    background: rgba(5, 7, 12, 0.876);
    padding: 10px;
    width: 800px;
    border-radius: 40px;
    font-family: 'Archivo Black';
    opacity: none;
    color: lavender;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.buttonLeft {
    display: flex;
    margin: 15px;
}

.button{
    font-family: 'Archivo Black';
    background-color: #25c45a;
    border: 2px solid #060509;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    will-change: transform;
}

  
.button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
} 

  
.image{
    max-width: 750px;
    max-height: 750px;
    border-radius: 15px;
    opacity: 90%;
}
  
.title{
    font-family: 'Archivo Black';
    font-size: 35px;
}
  
.titles{
    font-size: 30px;
    margin-bottom: 0px;
    font-family: 'Archivo Black';
}
  
.steps{
    margin-bottom: 5px;
    line-height: 2;
    font-family: 'Archivo Black';
    font-weight: 300;
}
  
.summary{
    font-size: 22px;
    line-height: 2;
    font-family: 'Archivo Black';
    font-weight: 300;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}
  
.dish{
    text-transform: capitalize;  
    font-family: 'Archivo Black';
}